.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

body {
    background-image: url(./bg.png);
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
}

@media only screen and (min-width: 768px) {
    .contact {
        flex-direction: column;
        padding: 100px 0;
        align-items: center;
        justify-content: center;
        min-width: 20vh;
    }
    .contact-items {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin: 0;
    }
    .contact-item {
        width: 30%;
        margin: 0;
        flex-direction: row;
    }
    .contact-item .icon {
        height: 100px;
        width: 100px;
    }
    .contact-item .icon img {
        object-fit: contain;
    }
    .contact-item .contact-info {
        width: 100%;
        text-align: left;
        padding-left: 20px;
    }
}


/*End contact Section */

.col-sm-4:hover {
    background-color: rgb(120, 161, 186);
}

.card-body {
    background-color: rgb(169, 222, 233);
}

.card-body-1 {
    background-color: rgb(200, 216, 221);
}

.custom-link {
    color: #010000;
    font: bold;
    font-size: calc(10px + 2vmin);
    /* Change this to the desired color using CSS color codes or names */
    /* You can add more styling as needed, such as text-decoration, hover effects, etc. */
}

.home {
    position: relative;
    z-index: 1;
}

.home::before {
    content: "";
    background-image: url(./BG2.png);
    background-size: cover;
    background-position: top center;
    opacity: 0.3;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.home {
    text-align: center;
    padding: 20px;
}

@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(0);
    }
}

header {
    background-image: url(./bg-3.jpeg);
    opacity: 0.9;
    padding: 20px;
    color: rgb(246, 246, 246);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.heading-float {
    animation: float 3s ease infinite;
}

h1 {
    font-size: 2.5rem;
}

main {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

section {
    flex: 1;
    padding: 20px;
    color: rgb(245, 245, 245);
    border: 2px solid rgb(251, 251, 251);
    border-radius: 5px;
    font-weight: 900;
}

h2 {
    font-size: 1.5rem;
}

.footer-bottom {
    color: rgb(245, 245, 245);
}

.testimonials {
    background-image: url(./BG2.png);
    opacity: 0.5;
    color: #f6fafd;
}